<div class="container">
  <h1>Stupid coaching</h1>
  <form class="form" action="/answer">
    <input id="input" type="text" name="question" placeholder="Ask your coach anything">
    <input type="submit" value="Ask!" class="btn-primary">
  </form>
</div>
